:root {
  --main-text-color: #212121;
  --accent-text-color: #2196f3;
  --link-text-color: #757575;
  --secondary-background: #2f303a;
  --white-text-color: #ffffff;
  --bg-button-color: #f5f4fa;
  --button-primary-shadow: rgba(0, 0, 0, 0.15);
  --footer-auth-color: rgba(255, 255, 255, 0.6);
  --card-distance: 30px;
  --color-svg: #afb1b8;
  --footer-svg-bcg: rgba(255, 255, 255, 0.1);
  --card-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --time-for-animation: 250ms;
  --function-time: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

body {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  transition: transform var(--time-for-animation) var(--function-time), border-color var(--time-for-animation) var(--function-time), background-color var(--time-for-animation) var(--function-time), fill var(--time-for-animation) var(--function-time), color var(--time-for-animation) var(--function-time);
}

.container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: 'Raleway', cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo-web {
  color: var(--accent-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-border {
  border: 1px solid #ececec;
}

.header {
  display: flex;
  align-items: center;
  padding: 0;
}

.border {
  border: 1px solid #ececec;
}

.header__list {
  display: inline-flex;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__item:first-child {
  margin-right: 50px;
}

.site-nav__link.current {
  color: var(--accent-text-color);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-text-color);
}

.site-nav__link {
  position: relative;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-color);
}

.auth-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--link-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.auth-nav__link:hover, .auth-nav__link:focus {
  fill: var(--accent-text-color);
}

.auth-nav__svg {
  display: flex;
  padding: 0;
  margin-right: 10px;
  max-width: 100%;
}

.hero-section {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-img/Img-bg.jpg);
}

.hero {
  padding-bottom: 94px;
}

.hero-section {
  max-width: 1600px;
  /* outline: 2px solid tomato; */
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-background);
}

.hero__title {
  color: var(--white-text-color);
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.features {
  padding-bottom: 94px;
}

.features__list {
  display: flex;
  padding: 0;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.features__text {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--link-text-color);
}

.features__svg {
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: var(--bg-button-color);
}

.features__svg-bcg {
  width: 270px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--white-text-color);
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
}

.modal__close:focus,
.modal__close:hover {
  fill: var(--accent-text-color);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: var(--white-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform var(--time-for-animation) var(--function-time);
}

.modal__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
}

.modal__text-name {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  outline-color: var(--accent-text-color);
  transition: transform var(--function-time) var(--time-for-animation), border-color var(--function-time) var(--time-for-animation), outline-color var(--function-time) var(--time-for-animation);
}

.modal__text-name:focus + .modal__svg,
.modal__text-name:hover + .modal__svg {
  fill: var(--accent-text-color);
}

.modal__text-name:focus,
.modal__text-name:hover {
  border-color: var(--accent-text-color);
}

.modal__place {
  position: relative;
  margin-bottom: 10px;
}

.modal__svg {
  position: absolute;
  bottom: 14px;
  left: 14px;
  transition: fill var(--function-time) var(--time-for-animation);
}

.modal__area {
  margin-bottom: 20px;
}

.modal__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--link-text-color);
}

.modal__comment {
  display: inline-flex;
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.modal__text-name::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}

.modal__checkbox-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.modal__agreement {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}

.modal__input-checkbox:checked ~ .modal__box {
  border-color: transparent;
  background-color: var(--accent-text-color);
}

.modal__input-checkbox:checked ~ .modal__box .modal__icon-checkbox {
  opacity: 1;
}

.modal__box {
  display: flex;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color var(--time-for-animation) var(--function-time), border-color var(--time-for-animation) var(--function-time);
}

.modal__icon-checkbox {
  position: absolute;
  top: 2px;
  left: 1px;
  opacity: 0;
  transition: opacity var(--time-for-animation) var(--function-time);
}

.btn-submit {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 56px;
}

.work {
  text-align: center;
  padding-top: 0;
  padding-bottom: 94px;
}

.work__title {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  position: absolute;
  bottom: 0;
  transform: translate(50%, -50%);
}

.work__text-bcg {
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
}

.work__pictures {
  position: relative;
}

.work__list {
  display: flex;
}

.work__pictures:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: var(--bg-button-color);
  padding-bottom: 94px;
  padding-top: 0;
  text-align: center;
}

.team__pictures:not(:last-child) {
  margin-right: 30px;
}

.team__link-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: var(--color-svg);
}

.team__link-svg:hover, .team__link-svg:focus {
  fill: var(--white-text-color);
  background-color: var(--accent-text-color);
}

.team__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.team__title {
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
}

.team__list {
  display: flex;
}

.team__item {
  list-style: none;
}

.team__pictures {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team__card {
  background: var(--white-text-color);
  text-align: center;
  max-width: 100%;
  align-items: center;
  padding: 30px 32px;
}

.team__name {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);
}

.team__text {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--link-text-color);
}

.team__svg:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__title {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-color: var(--accent-text-color);
  fill: var(--color-svg);
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.button {
  padding-bottom: 50px;
  display: inline-block;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--main-text-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  background-color: var(--bg-button-color);
}

.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-text-color);
  color: var(--bg-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.primary {
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px var(--button-primary-shadow);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background);
}

.footer__inform {
  margin-right: 70px;
}

.footer__main {
  display: flex;
  align-items: center;
}

.footer__logo {
  display: block;
  margin: 0;
  color: var(--white-text-color);
  text-decoration: none;
  font-family: 'Raleway', cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}

.footer__address {
  font-style: inherit;
}

.footer__auth {
  color: var(--footer-auth-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer__auth:hover, .footer__auth:focus {
  color: var(--accent-text-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address-text {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.join {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 93px;
}

.join__title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.join__list {
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--white-text-color);
  background: var(--footer-svg-bcg);
}

.join__link:hover, .join__link:focus {
  background: var(--accent-text-color);
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.form {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.form-text {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.email-form {
  margin-right: 10px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  background-color: var(--secondary-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.button-form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  padding: 10px 28px;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
}

.icon-send {
  fill: var(--white-text-color);
  align-items: center;
  margin-left: 10px;
}

.portfolio {
  padding-top: 94px;
}

.portfolio__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.portfolio-box {
  padding-bottom: 94px;
}

.list-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio__card {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__card-set {
  display: block;
  position: relative;
  top: 100%;
  width: 100%;
  flex-basis: calc((100%-30px) / 3);
  max-width: 370px;
  max-height: 404px;
  margin-left: 30px;
  margin-top: 30px;
  justify-content: center;
  background: var(--white-text-color);
  border: 1px solid #eeeeee;
}

.portfolio__card-set:hover, .portfolio__card-set:focus {
  box-shadow: var(--card-box-shadow);
}

.portfolio__overlay-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
}

.portfolio__card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__card-link:hover .portfolio__overlay,
.portfolio__card-link:focus .portfolio__overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__card-link {
  display: block;
  text-decoration: none;
}

.portfolio__card-info {
  margin: 0;
  flex-direction: column;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.list-btn {
  text-align: center;
  display: flex;
  justify-content: center;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio__text {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--link-text-color);
}
/*# sourceMappingURL=main.css.map */