.features {
  padding-bottom: 94px;
}

.features__list {
  display: flex;
  padding: 0;
  // @media screen and (min-width: 480px) and (max-width: 767.9px) {
  //   display: block;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.features__item {
  @media screen and (min-width: 480px) and (max-width: 767.9px) {
  }

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    flex-wrap: nowrap;
  }
}

.features__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;

  @media screen and (min-width: 60px) and (max-width: 767.9px) {
    text-align: center;
  }
}

.features__text {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--link-text-color);
}

.features__svg {
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: var(--bg-button-color);
}

.features__svg-bcg {
  width: 270px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-content: center;
  @media screen and (min-width: 480px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
