.header-border {
  border: 1px solid #ececec;
}

.header {
  display: flex;
  align-items: center;
  padding: 0;
}

.border {
  border: 1px solid #ececec;
}

.header__list {
  display: inline-flex;
}
