.portfolio {
  padding-top: 94px;
}

.portfolio__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.portfolio-box {
  padding-bottom: 94px;
}

.list-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio__card {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__card-set {
  display: block;
  position: relative;
  top: 100%;
  width: 100%;
  flex-basis: calc((100%-30px) / 3);
  max-width: 370px;
  max-height: 404px;
  margin-left: 30px;
  margin-top: 30px;
  justify-content: center;
  background: var(--white-text-color);
  border: 1px solid #eeeeee;

  &:hover,
  &:focus {
    box-shadow: var(--card-box-shadow);
  }
}
