.team {
  background-color: var(--bg-button-color);
  padding-bottom: 94px;
  padding-top: 0;
  text-align: center;
}

.team__pictures:not(:last-child) {
  margin-right: 30px;
}

.team__link-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: var(--color-svg);

  &:hover,
  &:focus {
    fill: var(--white-text-color);
    background-color: var(--accent-text-color);
  }
}

.team__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.team__title {
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
}

.team__list {
  display: flex;
}

.team__item {
  list-style: none;
}

.team__pictures {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team__card {
  background: var(--white-text-color);
  text-align: center;
  max-width: 100%;
  align-items: center;
  padding: 30px 32px;
}

.team__name {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);
}

.team__text {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--link-text-color);
}

.team__svg:not(:last-child) {
  margin-right: 10px;
}
